<% if logged_in? %>
<%= current_user.first_name %>
<%= current_user.last_name %>
<%#= current_user.email %>
<%= current_user.user_name %>
<h2>Friends</h2>
<ul>
  <% if load_friend_requests.any? %>
    <li>Requests</li>
    
    <% load_friend_requests.each do |request| %>
      <li>
        <%= link_to request.user.full_name, user_profile_path(request.user) %>
        <p>
          <%= link_to 'Accept', friendship_path(request), method: :put%>
          <%= link_to 'Ignore', friendship_path(request), method: :delete %>
        </p>
      </li>
      
    <% end %>
  <% else %>
    <li><%= link_to 'No requests', '#' %></li>
    
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=user.user_name %></li>
  <% end %>
</ul>



<%#= current_user.first_name %>
<%#= current_user.first_name %>
<%= link_to "logout", logout_path, method: :delete %>
<%else%>
<h1> must login first </h1>
<%#= link_to "login", login_path%>
<%= render 'sessions/signform'%>
<%end%>
